<!-- <p>search-bar works!</p> -->

<div class="search-container">
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <span class="logo" routerLink="/">GamerRating</span>

        <select name="game" class="game-input" id="gameinput">
            <option value="dota-2">Dota 2</option>
            <option value="overwatch">Overwatch</option>
            <option value="tft">Teamfight Tactics (NA)</option>
            <option value="lol">League of Legends (NA)</option>
            <option value="csgo">CSGO</option>
        </select>

        <input
            class="search-input"
            name="search"
            id="idinput"
            ngModel
            placeholder="Enter your ID"
        />
        <button class="search-button">Search</button>
    </form>
</div>
