<!-- <p>search-bar works!</p> -->

<div class="search-container">
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <span class="logo" routerLink="/">GamerRating</span>

        <select name="game" class="game-input">
            <option value="dota-2">Dota 2</option>
            <option value="overwatch">Overwatch</option>
        </select>

        <input
            class="search-input"
            name="search"
            ngModel
            placeholder="Enter your ID"
        />
        <button class="search-button">Search</button>
    </form>
</div>
