<div class="rating-container">
    
    <span>
        <mwl-gauge
            class="one"
            [max]="1000"
            [dialStartAngle]="180"
            [dialEndAngle]="0"
            [value]="gamerrating"
            [animated]="true"
            [color]="getRatingColor"
            [animationDuration]="3"
        >
        </mwl-gauge>
        <div class="rating-text" style="color: #ffff; text-align: center;font-weight: 700;font-size: 20px;">Gamer Rating</div>
    </span>
    <span>
        <mwl-gauge
            class="two"
            [max]="10"
            [dialStartAngle]="180"
            [dialEndAngle]="0"
            [value]="confrating"
            [animated]="true"
            [color]="getConfColor"
            [animationDuration]="2"
        >
        </mwl-gauge>
        <div class="rating-text" style="color: #ffff; text-align: center;font-weight: 700;font-size: 20px;">Confidence</div>
    </span>
    <div>
        <button class="rating-button" (click)="onClick()">Calcuate</button>
    </div>
</div>

