.rating-container{
    display: flex;
    justify-content: center;

    &-text {
        color: #fff;
        font-weight: 700;
        font-size: 15px;
    }
}

.caption-text {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

/*
.rating {
    &-container {
        
        background-color: #323a45;
        
        justify-content: center;
        align-items: center;
        z-index: 4;
     
    }

    
      .gauge {
        position: absolute;
        top: 50px;
        right: 0;
        display: flex;
        
    
        &-label {
          font-size: 20px;
          color: #fff;
          position: relative;
          bottom: 60px;
        }
      }
      &-button {
        border: none;
        outline: none;
        background: #47c45e;
        padding: 10px;
        border-left: 1px solid rgba(0, 0, 0, .3);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: #fff;
        font-weight: 700;
        transition-duration: .3s;
        cursor: pointer;

        &:hover {
            color: #47c45e;
            background-color: #fff;
            border: 1px solid #47c45e;

        }

    }

}*/

/*
mwl-guage {
    display: block;
    padding: 10px;
    margin: 7px;
    background-color: #ffff;
    border-radius: 3px;
/*
    .dial {
        stroke-width: 13;
      }
  
      .value {
        stroke-dasharray: none;
        stroke-width: 13;
      }
  
      .value-text {
        fill: #fff;
        font-weight: 700;
        font-size: 24px;
      }
}


 mwl-gauge > .gauge > .dial {
    
    stroke-width: 10;
    
}
 mwl-gauge > .gauge > .value {
    
    stroke-dasharray: none;
    stroke-width: 13;
}
mwl-gauge > .gauge > .value-text {
    fill: #fff;
    
    font-weight: 700;
    font-size: 24px;
  }
*/

::ng-deep mwl-gauge {
    position: relative;
    //left: 0;
    width: 150px;
    height: 100px;
    display: block;
    //margin: 500;
    padding: 5px;

    .dial {
      stroke-width: 13;
    }

    .value {
      stroke-dasharray: none;
      stroke-width: 13;
    }

    .value-text {
      fill: #fff;
      font-weight: 700;
      font-size: 24px;
    }
  }
/*
  .gauge {

    &-label {
      font-size: 20px;
      color: #fff;
      position: relative;
      bottom: 60px;
    }
  }

  .rating-button {
    border: none;
    outline: none;
    background: #47c45e;
    padding: 10px;
    border-left: 1px solid rgba(0, 0, 0, .3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition-duration: .3s;
    cursor: pointer;

    &:hover {
        color: #47c45e;
        background-color: #fff;
        border: 1px solid #47c45e;

    }

}
*/

.rating-button {
    border: none;
    outline: none;
    background: #47c45e;
    padding: 10px;
    height: 40px;
    margin-top: 50px;
    border-left: 1px solid rgba(0, 0, 0, .3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition-duration: .3s;
    cursor: pointer;

    &:hover {
        color: #47c45e;
        background-color: #fff;
        border: 1px solid #47c45e;

    }

}